# Help documentation
HELP.md

# Ignore all target directories, except specific ones
target/
!**/src/main/**/target/
!**/src/test/**/target/

# Maven Wrapper
!.mvn/wrapper/maven-wrapper.jar

# Spring Tool Suite specific files
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA specific files
.idea/
*.iws
*.iml
*.ipr

# NetBeans specific files and folders
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Gradle build directory, except specific subfolders
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Visual Studio Code specific files
.vscode/
